<h1><%= @surgery.title %></h1>

<p>Operating Room: <%= @surgery.room %></p>
<p>Number of Doctors Operating: <%= @surgery.doctors.length %></p>

<p>Other Surgeries Happening Today:</p>
<% @surgeries.each do |surgery| %>
  <section id="surgeries-<%= surgery.id %>">
    <% if surgery.day == @surgeries.same_day %>
      <h3><%= surgery.title %></h3
    <% end %>
  </section>
<% end %>
